<div role="form">
  <%= form_for(@reservation, :url => { action: "update" }, :method => :put) do |f| %>
    <% if @reservation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

        <ul>
          <% @reservation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :Name %><br>
      <%= f.text_field :firstName, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :From %><br>
      <%= f.datetime_select :start_time, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :To %><br>
      <%= f.datetime_select :end_time, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :purpose %><br>
      <%= f.text_field :purpose, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :room_id %><br>
      <%= f.collection_select( "room_id", Room.all, :id, :name, {}, {class: "form-control"})%>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>