<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View Reservations', reservations_path %></li>
  <li class="active"><%= link_to 'New Reservation', new_reservation_path %></li>
</ul>
<br>
<p>
  <strong>Name:</strong>
  <%= @reservation.firstName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reservation.email %>
</p>

<p>
  <strong>From:</strong>
  <%= @reservation.start_time %>
</p>

<p>
  <strong>To:</strong>
  <%= @reservation.end_time %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @reservation.purpose %>
</p>

<p>
  <strong>Room:</strong>
  <%= @reservation.room.name %>
</p>
<div class="btn-group">
  <%= button_to 'Edit', edit_reservation_path(@reservation), :class => 'btn btn-primary', :method => :get %>
</div>