<h3> New reservation notification </h3>

A new reservation with the following details has been created :

<hr>

<div>

Name : <%= @reservation.firstName %> <br><br>

Purpose : <%= @reservation.firstName %> <br><br>

From : <%= @reservation.start_time %> <br><br>

To : <%= @reservation.end_time %> <br><br>

Place : <%= @reservation.room.name %> <br><br>


- EventCalendar Notifications

</div>